@{
    ViewData["Title"] = "Business Assist API - Home";
}

<h2>Index</h2>

<p>
    <a asp-action="ValidateTenant">Validate Tenant</a>
</p>
<p>
    <a asp-action="SelfHelp">Self-Help</a>
</p>
<p>
    <a asp-action="CreateForecast">Create Forecast Operation</a>
</p>
<p>
    <a asp-action="GetForecastOpStatus">Get Forecast Operation Status</a>
</p>
<p>
    <a asp-action="GetForecastData">Get Forecast Data</a>
</p>
