@using Newtonsoft.Json.Linq;
@model BusinessAssistAPIClient.Models.BAValidateTenantModel

@{
    ViewData["Title"] = "Business Assist API (TEST) - Trigger 'Validate/Tenant'";
}

<h2>Index</h2>

<p>Business Assist API (TEST) - Trigger 'Validate/Tenant'</p>

<p>
    <a asp-action="ValidateTenant">Validate Tenant</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
         </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                @Html.DisplayFor(model => model.Status)
                </td>
                <td>
                    <pre>
                    @Html.DisplayFor(model => model.Response)
                    </pre>
                </td>
            </tr>
    </tbody>
</table>
